@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 98%);
  --foreground: hsl(260, 5%, 28%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(260, 5%, 28%);
  --popover: hsl(0, 0%, 97%);
  --popover-foreground: hsl(260, 5%, 28%);
  --primary: #22c55e;
  --primary-foreground: #fff;
  --secondary: hsl(0, 0%, 87%);
  --secondary-foreground: hsl(257, 7%, 45%);
  --muted: hsl(0, 0%, 92%);
  --muted-foreground: hsl(264, 4%, 55%);
  --accent: hsl(322, 6%, 94%);
  --accent-foreground: hsl(260, 8%, 37%);
  --destructive: hsl(25, 33%, 64%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --border: hsl(0, 0%, 87%);
  --input: hsl(0, 0%, 87%);
  --ring: hsl(277, 34%, 59%);
  --chart-1: hsl(210, 100%, 56%);
  --chart-2: var(--chart-1);
  --chart-3: var(--chart-1);
  --chart-4: var(--chart-1);
  --chart-5: var(--chart-1);
  --sidebar: hsl(0, 0%, 87%);
  --sidebar-foreground: hsl(260, 5%, 28%);
  --sidebar-primary: hsl(277, 34%, 59%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(322, 6%, 94%);
  --sidebar-accent-foreground: hsl(260, 8%, 37%);
  --sidebar-border: hsl(0, 0%, 87%);
  --sidebar-ring: hsl(277, 34%, 59%);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-2xs: 0px 1px 2px rgba(0, 0, 0, 0.04);
  --shadow-xs: 0px 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-sm: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 6px 12px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0px 8px 16px rgba(0, 0, 0, 0.1);
  --shadow-xl: 0px 12px 24px rgba(0, 0, 0, 0.1);
  --shadow-2xl: 0px 16px 32px rgba(0, 0, 0, 0.15);
}

.dark {
  --background: hsl(0, 0%, 5%);
  --foreground: hsl(256, 2%, 93%);
  --card: hsl(0, 0%, 10%);
  --card-foreground: hsl(256, 2%, 93%);
  --popover: hsl(0, 0%, 10%);
  --popover-foreground: hsl(256, 2%, 93%);
  --primary: #22e57a;
  --primary-foreground: #111;
  --secondary: hsl(0, 0%, 34%);
  --secondary-foreground: hsl(258, 1%, 87%);
  --muted: hsl(0, 0%, 28%);
  --muted-foreground: hsl(261, 3%, 71%);
  --accent: hsl(0, 0%, 39%);
  --accent-foreground: hsl(258, 1%, 87%);
  --destructive: hsl(25, 33%, 64%);
  --destructive-foreground: hsl(0, 0%, 22%);
  --border: hsl(0, 0%, 34%);
  --input: hsl(0, 0%, 34%);
  --ring: hsl(277, 42%, 68%);
  --chart-1: hsl(210, 100%, 56%);
  --chart-2: var(--chart-1);
  --chart-3: var(--chart-1);
  --chart-4: var(--chart-1);
  --chart-5: var(--chart-1);
  --sidebar: hsl(0, 0%, 34%);
  --sidebar-foreground: hsl(256, 2%, 93%);
  --sidebar-primary: hsl(277, 42%, 68%);
  --sidebar-primary-foreground: hsl(0, 0%, 22%);
  --sidebar-accent: hsl(0, 0%, 39%);
  --sidebar-accent-foreground: hsl(258, 1%, 87%);
  --sidebar-border: hsl(0, 0%, 34%);
  --sidebar-ring: hsl(277, 42%, 68%);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 1.25rem;
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(0 0% 0% / 0.18),
    2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(0 0% 0% / 0.18),
    2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(0 0% 0% / 0.18),
    2px 2px 4px 3px hsl(0 0% 0% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(0 0% 0% / 0.18),
    2px 4px 6px 3px hsl(0 0% 0% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.18),
    2px 8px 10px 3px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.45);
}
